<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} — {{ site.title }}</title>
  {%- seo -%}
  <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
  <nav>
    {% for item in site.nav %}
    <a href="{{ item.link }}">{{ item.name }}</a>
    {% endfor %}
  </nav>
  <main>{{ content }}</main>
  <footer>
    <small>© {{ site.time | date: '%Y' }} {{ site.title }}</small>
  </footer>
</body>

</html>